* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: white;
  }


  .container{
    display: flex;
    justify-content: space-evenly;
    
  }

  .subtitle{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .principle-title{
    text-align: center;
    margin-top: 30px;

  }

  form{
    background-color: #00669F ;
    border-radius: 10%;
  }

  
  form input,  form textarea, select{
    width: 343px;
    height: 63px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;    
    resize: none;
    
  }
  label{
    color: white;
  }
  form textarea{
    width: 343px;
    height: 307px;
    margin-left: 60px;

  }
  .second-container{
    display: flex;
    flex-direction: column;
    
  }

  input[type="checkbox"] {
    height: 20px;
    width: 24px;    
}
input[type="radio"] {
    height: 20px;
    width: 20px;}

.vert {
    display: block;
}

.line{
    padding-bottom: 30px;
}

.buttons-container{
    text-align: center; 
    margin-bottom: 30px;
    
}

button{
    width: 466px;
    height: 87px;
    border-radius: 23px;
    background: #1CD1B0;
    color: black;

}

input[type="date"] {
    margin-left: 15px;
}


