@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
* 
{   margin: 0;
    font-family: Roboto;
    box-sizing: border-box;
}

header{
    position: fixed;
    
}

.background1{
    background-image: url('../img/fondoBatman.png');
    width: 300PX;
    height: 193px;
    margin-top: 100px;

}
.background2{
    background-image: url('../img/fondoHarleyQueen.png');
    width: 300PX;
    height: 193px;
    margin-top: 100px;
}
.background3{
    background-image: url('../img/fondoBatman.png');
    width: 300PX;
    height: 193px;
    margin-top: 100px;

    
}

article{
    width: 300px;
    margin-bottom: 100px;
    display: inline-block;
    margin: 50px;
    margin-left: 65px;
    
}

.firt-container{
    background-color: #1CD1B0;
    padding: 8px 30px;
    height: 38px;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
}

i{
    color: red;
    position: absolute;
    left: 21px;
    top:110px;
    font-size: 30px;
}



.last-container{
    height: 51px;
    background-color: #00669F;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding-left: 30px;
    padding-top: 15px;
    padding-bottom: 15px;   
    color: #FFF9F9; 
}

img{
    border-radius: 100px;

}

h1{
    background-color: #00669F;
    height: 101px;
    font-size: 40px;
    font-weight: 400;
    line-height: 47px;
    text-align: left;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0px 10px 7px 0px #00000040;
}

h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;    
    padding-top: 70px;
}

.container-padre-articles, 
.container-padre-article1, 
.container-padre-article2, 
.container-padre-article3{
    position: relative;
    text-align: center;
}

.image-heroes1, .image-heroes2, .image-heroes3{
    width: 120px;
    height: 118px;
    position: absolute;
    left:90px;
    top: 230px;
}

.text-heroe{
    padding: 10px;
}

button{
    background-color: #00669F;
    font-size: 15px;
    font-weight: 400;
    color:#F3F3F3;
    line-height: 18px;
    text-align: center;
    display: block;
    margin: 25px auto 0px;
    width: 128.78px;
    height: 48.52px;
    border: none;

}
.container-article{
    box-shadow: 0px 4px 4px 0px #00000040;
    padding-bottom: 30px;
    background-color: #F3F3F3;
    margin-bottom: 90px;
}

span{
    text-transform: uppercase;
}




